<a href='/guests'> Guest index</a>
<a href='/cabins'> Cabin index</a>
<h1>Cabins</h1>
<% @cabins.each do |cabin| %>
    <h3><%= cabin.title %></h3>
    <p>co-ed?: <%= cabin.co_ed%></p>
    <p>max number of guests: <%= cabin.max_guest_count%></p>
    <p>created at: <%= cabin.created_at%></p>
    <%= button_to "Edit #{cabin.title}", "/cabins/#{cabin.id}/edit", method: :get %>
<% end %>

<%= link_to "New Cabin", "/cabins/new"%>