<a href='/guests'> Guest index</a>
<a href='/cabins'> Cabin index</a>
<h1>Cabin: <%= @cabin.title %></h1>

<p>co-ed?: <%= @cabin.co_ed%></p>
<p>max number of guests: <%= @cabin.max_guest_count%></p>
<p>occupancy: <%= @cabin.guest_count%>/<%= @cabin.max_guest_count%></p>

<%= link_to("Cabin Occupants", "/cabins/#{@cabin.id}/guests" ) %>
<%= link_to("Edit #{@cabin.title}", "/cabins/#{@cabin.id}/edit" ) %>