<a href='/guests'> Guest index</a>
<a href='/cabins'> Cabin index</a>

<h1> Guests in <%= @cabin.title %></h1>

<% @guests.each do |guest| %>
    <h3><%= guest.first_name %> <%= guest.last_name %></h3>
    <p>invited?: <%= guest.invite%></p>
    <p>plus ones: <%= guest.plus_ones%></p>
<% end %>

<%= form_with url: "/cabins/#{@cabin.id}/guests", method: :get, local: true do |form| %>
    <%# count = 0%>
    <%= form.label :filter_guests_with_at_least_this_many_plus_ones%>
    <%= form.text_field :plus_one_count, value: params[:count]%>
    
    <%= form.submit "filter guests", name: nil, value: "Show guests with #{params[:count]} or more plus ones" %>
<% end %>

<%= link_to "sort guests by last name", "/cabins/#{@cabin.id}/guests/true"%>
<%= link_to "New Guest", "/cabins/#{@cabin.id}/guests/new"%>
